.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.Spotify-button {
  size: 1000px;
  outline-width: 10px !important;  
  background-color: #4021dc !important;
  outline-color: #4021dc !important;
}

.top-songs1 {
  max-width: 9ch;
  position: absolute;
  left: 25%;
  top: 18%;
}

.top-songs2 {
  max-width: 9ch;
  position: absolute;
  left: 42%;
  top: -3%;
}

.top-songs3 {
  max-width: 9ch;
  position: absolute;
  left: 42%;
  top: -3%;
}

.top-songs4 {
  max-width: 9ch;
  position: absolute;
  left: 71%;
  top: 18%;
}

